{% extends 'bar/base.html' %}

{% block body %}
<div class="card mb-4">
    <div class="card-header">
        <p><b>Инвентаризация</b></p><br>
        Основной бармен: {{ barmen }}
    </div>
    <div class="card-body">
        <form action="{% url 'Bar:inventory_form' storageId %}" method="post">
            {% csrf_token %}
            <table>
                {% for product in bar_products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td><input type="tel" name="{{ product.num }}" id="{{ product.num }}" class="form-control" value="0" size="2"></td>
                    </tr>
                {% endfor %}
            </table>
            <input type="hidden" name="page_code" value="{{ code }}">
            <input type="hidden" name="barmen" value="{{ barmen }}">
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}