{% extends 'base.html' %}

{% block title %}Банковские выписки{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <a href="/lk/statement" class="btn btn-sm btn-success">Оплата картой</a>
            <br> <br>
            <form action="{% url 'LK:bank_parser' %}{% if full == 1 %}?full=1{% endif %}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                {% csrf_token %}
                <input type="submit" value="Загрузить">
            </form>
            <div class="table-responsive">
                <table id="table_id" class="table table-striped table-bordered table-sm dt-responsive nowrap w-100">
                    <thead>
                        <tr class="column-filter dt-column-filter">
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Дата</th>
                            <th>Номер</th>
                            <th>Приход</th>
                            <th>Расход</th>
                            <th>Заведение</th>
                            <th>Реальная дата</th>
                            <th>Тип расхода</th>
                            <th>Плательщик</th>
                            <th>Получатель</th>
                            <th>Комментарий</th>
                            <th>Платеж</th>
                            <th>Плательщик</th>
                            <th>Получатель</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in rows %}
                            <tr>
                                <td>{{ data.date_at }}</td>
                                <td>{{ data.number }}</td>
                                <td>
                                    {% for recipient in partners %}
                                        {% if recipient.id == data.recipient_id %}
                                            {% if recipient.status == 1 %}
                                                {{ data.sum }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for recipient in partners %}
                                        {% if recipient.id == data.recipient_id %}
                                            {% if recipient.status == 0 %}
                                                -{{ data.sum }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for card in cards %}
                                        {% if card.id == data.card_id %}
                                            {{ card.cafe }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ data.date }}</td>
                                <td>
                                    {% for recipient in partners %}
                                        {% if recipient.id == data.recipient_id %}
                                            {{recipient.type}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for payer in partners %}
                                        {% if payer.id == data.payer_id %}
                                            {{ payer.friendly_name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for recipient in partners %}
                                        {% if recipient.id == data.recipient_id %}
                                            {{ recipient.friendly_name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ data.comment }}</td>
                                <td>{{ data.payment }}</td>
                                <td>
                                    {% for payer in partners %}
                                        {% if payer.id == data.payer_id %}
                                            {{ payer.name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for recipient in partners %}
                                        {% if recipient.id == data.recipient_id %}
                                            {{ recipient.name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td><a href="/lk/statement/edit?id={{ data.id }}"><i data-feather="edit"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tfoot>
                </table>
            </div>
            <p><a href="/lk/statement/cards" class="btn btn-outline-primary">Карты</a></p>
            <p><a href="/lk/statement/cards/sum" class="btn btn-outline-primary">Суммы по картам</a></p>
            <p><a href="/lk/statement/update/card" class="btn btn-outline-primary">Обновить карточки</a></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(() => {
        // Run datatable
        var table = $('#table_id').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.11.1/i18n/ru.json"
            },
            lengthMenu: [10, 25, 50, 100, 200, 500],
            pageLength: 25,
            responsive: true,
            'columnDefs': [{
                'targets': [0, 1, 4, 5, 6, 7, 8], /* column index */
                'orderable': false, /* true or false */
            }],
            "order": [[0, "desc"]],
            footerCallback: function (row, data, start, end, display) {
                var api = this.api();
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                pageTotal4 = api.column(2, { page: 'current' }).data().reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
                // Update footer
                $(api.column(2).footer()).html(
                    '' + pageTotal4  //+ ' (' + total4 + ' total)'
                );
                pageTotal4 = api.column(3, { page: 'current' }).data().reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
                // Update footer
                $(api.column(3).footer()).html(
                    '' + pageTotal4  //+ ' (' + total4 + ' total)'
                );
            }

        })
        // Apply column filter
        $('#table_id .dt-column-filter th').each(function (i) {
            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw()
                }
            })
        })
        // Toggle Column filter function
        var responsiveFilter = function (table, index, val) {
            var th = $(table).find('.dt-column-filter th').eq(index)
            val === true ? th.removeClass('d-none') : th.addClass('d-none')
        }
        // Run Toggle Column filter at first
        $.each(table.columns().responsiveHidden(), function (index, val) {
            responsiveFilter('#table_id', index, val)
        })
        // Run Toggle Column filter on responsive-resize event
        table.on('responsive-resize', function (e, datatable, columns) {
            $.each(columns, function (index, val) {
                responsiveFilter('#table_id', index, val)
            })
        })
    })
</script>
{% endblock %}