{% extends 'lk/form_base.html' %}

{% block content %}
    <div class="card-header">
        Создание записи
    </div>
    <div class="card-body">
        <form action="{% url 'LK:pays_new' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="date">Дата</label>
                <input type="text" name="date" id="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="storage_id">Заведение</label>
                <select class="form-select" id="storage_id" name="storage_id">
                    {% for storage in storages %}
                        <option value="{{ storage.id }}">{{ storage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="type">Тип</label>
                <select class="form-select" name="type" id="type">
                    <option value="1">Внесение</option>
                    <option value="2">Изъятие</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Комментарий</label>
                <select id="comment" name="comment" class="form-select">
                    {% for record in records %}
                        <option value="{{ record.text }}">{{ record.text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="sum">Сумма</label>
                <input class="form-control" id="sum" name="sum" type="tel">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            $('#date_at').datepicker()
        })
    </script>
{% endblock %}