{% extends 'lk/form_base.html' %}

{% block content %}
    <div class="card-header">
        Создание записи
    </div>
    <div class="card-body">
        <form action="{% url 'LK:lk_salary_new' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="date">Дата</label>
                <input type="text" name="date" id="date" placeholder="Выберите дату" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="employee">Сотрудник</label>
                <select name="employee" id="employee" class="form-select" required>
                    {% for employee in employees %}
                        <option value="{{ employee.id }}">{{ employee.fio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="storage_id">Заведение</label>
                <select name="storage_id" id="storage_id" class="form-select" required>
                    {% for storage in storages %}
                        <option value="{{ storage.id }}">{{ storage.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="oklad">Оклад</label>
                <input type="tel" name="oklad" id="oklad" class="form-select" required>
            </div>
            <div class="form-group">
                <label for="type">Тип</label>
                <select name="type" id="type" required>
                    <option value="Аванс">Аванс</option>
                    <option value="Зарплата">Зарплата</option>
                    
                </select>
            </div>
            <div class="form-group">
                <label for="precent">Процент</label>
                <input type="tel" name="precent" id="precent" class="form-select" required>
            </div>
            <div class="form-group">
                <label for="premium">Премия</label>
                <input type="tel" name="premium" id="premium" class="form-select" required>
            </div>
            <button type="submit" class="btn btn-success">Создать</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(function(){
        $("#date").datepicker();
    });
</script>
{% endblock %}