{% extends 'bar/base.html' %}

{% block body %}
<div class="card mb-4">
    <div class="card-header">
        <b>Инвентаризация</b> <br>
        Основной бармен: {{ barmen }}
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered table-sm dt-responsive nowrap w-100">
            <thead>
                <th>Название</th>
                <th>IIKO</th>
                <th>Факт</th>
                <th>Разница</th>
            </thead>
            <tbody>
                {% for product in items %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.fact }}</td>
                        <td>{{ product.difference }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/bar/invent?code={{ code }}" class="btn btn-primary">Назад</a>
        </form>
    </div>
</div>
{% endblock %}