{% extends 'bar/base.html' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <td>Номер накладной</td>
                            <td>Продукт</td>
                            <td>Кол-во</td>
                            <td>Сумма</td>
                            <td>Статус</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row.num }}</td>
                                <td>
                                    {% for product in products %}
                                        {% if product.id == row.product %}
                                            {{ product.name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ row.amount }}</td>
                                <td>{{ row.sum }}</td>
                                <td>{% if row.type == 0 %}<span class="badge bg-danger">Неоплачено</span>{% else %}<span class="badge bg-success">Оплачено</span>{% endif %}</td>
                                <td><a href="/bar/arrival/beer/delete?code={{ code }}&id={{ row.id }}"><i data-feather="x-circle"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form action="{% url 'Bar:bar_beer_arrival' %}?code={{ code }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="code" value="{{ code }}">
                <div class="form-group">
                    <label for="num">Номер накладной</label>
                    <input type="text" id="num" name="num" class="form-control" placeholder="Введите номер накладной" required>
                </div>
                <div class="form-group">
                    <label for="beer">Пиво</label>
                    <select class="form-select" id="beer" name="beer" required>
                        <option value="" selected>Выберите..</option>
                        {% for beer in beers %}
                            <option value="{{ beer.id }}">{{ beer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="amount">Количество</label>
                    <select class="form-select" id="amount" name="amount" required>
                        <option value="" selected>Выберите..</option>
                        <option value="8">8</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sum">Сумма</label>
                    <input type="tel" id="sum" name="sum" class="form-control" placeholder="Введите сумму накладной" required>
                </div>
                <div class="form-group">
                    <label for="typeOpl">Оплачено</label>
                    <input type="checkbox" name="typeOpl" class="form-check">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}