{% extends 'bar/base.html' %}

{% block body %}
<div class="card mb-4">
    <div class="card-header">
        <b>Зарплата расчет</b>
    </div>
    <div class="card-body">
        <table class="table table-hover my-0 table-sm">
            <thead>
                <th>ФИО</th>
                <th>Зарплата</th>
            </thead>
            <tbody>
                {% for salary in salaries %}
                    {% if salary.type == 'Зарплата' %}
                    <tr>
                        <td>
                            {% for employee in employees %}
                                {% if salary.employee_id == employee.id %}
                                    {{ employee.fio }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ salary.sum }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <form action="{% url 'Bar:bar_salary3_save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="cafe" id="cafe" value="{{ storage_id }}">
            <input type="hidden" name="code" id="code" value="{{ code }}">
            <select name="month" id="month" class="form-select" required>
                <option value="" selected disabled>Выберите..</option>
                <option value="Январь">Январь</option>
                <option value="Февраль">Февраль</option>
                <option value="Март">Март</option>
                <option value="Апрель">Апрель</option>
                <option value="Май">Май</option>
                <option value="Июнь">Июнь</option>
                <option value="Июль">Июль</option>
                <option value="Август">Август</option>
                <option value="Сентябрь">Сентябрь</option>
                <option value="Октябрь">Октябрь</option>
                <option value="Ноябрь">Ноябрь</option>
                <option value="Декабрь">Декабрь</option>
            </select><br>
            <select name="days" id="days" class="form-select" required>
                <option value="" disabled selected>Выберите..</option>
                <option value="1 - 15 числа">1 - 15 числа</option>
                <option value="16 - 31 числа">16 - 31 числа</option>
            </select><br>
            <table>
                {% for t in timetable %}
                    <tr>
                        <td>
                            <a href="/bar/employee?code={{ t.code }}">{{t.fio}}</a>
                        </td>
                        <td><input type="tel" class="form-control" id="[{{t.id}}][salary]" name="[{{t.id}}][salary]" placeholder="Введите зарплату"></td>
                        <input type="hidden" name="employee_id[{{ t.id }}]" id="employee_id[{{ t.id }}]" value="{{ t.id }}">
                    </tr>
                {% endfor %}
            </table>
            <br>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}